POSTGRES_NAME=leitor_projeto
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=leitor_db
DJANGO_SECRET_KEY=change-me-for-local-development

DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
